html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input {
  transition: all 0.25s ease-in-out;
}
